<header class="header">

  <div class="overlay">

    <div class="container">

      <h2 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h2> -->

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
		  <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ site.github }}" target="_blank">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
		<h1 class="txt-center">
          <i>Science Policy Nerd. Climate Scientist. Science Communicator.</i>
      </h1>
    {% endif %}

  </div>

</header>
